<div class="row">
    <div class="col-md-12">
        <h1>Somar</h1>
    </div>
</div>

<div class="jumbotron">
    
    <div class="row">
        <div class="col-md-12">
            <h2>Valor Total:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="text" [value]="pegaValor">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-block btn-warning" type="button" id="btnLanche" (click)="calcula(5); addLanche()">Lanche R$ 5.00</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-block btn-warning" type="button" id="btnBebida" (click)="calcula(4); addBebida()">Bebida R$ 4.00</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-block btn-warning" type="button" id="btnDoce" (click)="calcula(3); addDoce()">Doce R$ 3.00</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label for="">Quantidade de lanches:</label>
            <input class="form-control" type="text" [value]="pegaQtLanches">
        </div>
        <div class="col-md-4">
            <label for="">Quantidade de bebidas:</label>
            <input class="form-control" type="text" [value]="pegaQtBebidas">
        </div>
        <div class="col-md-4">
            <label for="">Quantidade de doces:</label>
            <input class="form-control" type="text" [value]="pegaQtDoces">
        </div>
    </div>

</div>